.block {

}

.header {
  width: 100%;
  border: 1px solid;
  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;

    a {
      display: inline-block;
      padding: 1rem
    }
  }
}
